@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    background-color: rgba(0, 0, 0);

}

.container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0);

}
.flex-container{
    position: relative;
    left: 150px;
}
.image-wrapper img {
    width: 350px;
    height: 350px;
}

.image-wrapper img {
    object-fit: contain;
}

.heading {
    margin: 40px;
  font-size: 40px;
  text-shadow: 0px 0px 50px rgb(198, 255, 9);
background: linear-gradient(black, yellow);
background-clip: text;
-webkit-background-clip: text; /* For older WebKit browsers */
color: transparent;

}

.input-container {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.button {
    padding: 10px;
    color: #fff;
    background-color: #e67700;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
.button:hover{
    color: #000000;
}

.input {
    border: none;
    border-bottom: 2px solid #f08c00;
    padding: 10px;
    width: 50px;
    margin: 20px;
    color: #f5f000;

}

.flex-container {
    display: flex;
}

.input:focus {
    outline: none;
}
.Spinner{
    position: relative;
    left: 100px;
}
.circle-outer {
    position: relative;
    border-width: 10px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0;
    margin: 1em auto;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    background-color: black;
}

.circle-inner {
    position: absolute;
    top: -9px;
    left: 6px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0;
    margin: 1em auto;
    width: 19em;
    height: 19em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    /* background-color: black; */
}

li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

.text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
}


/* FIRSR +12 */

li:first-child {
    transform: rotate(0deg) skewY(-60deg);
}

li:nth-child(2) {
    transform: rotate(30deg) skewY(-60deg);
}


/* SECOND +12 */

li:nth-child(3) {
    transform: rotate(72deg) skewY(-60deg);
}

li:nth-child(4) {
    transform: rotate(102deg) skewY(-60deg);
}


/* THIRD +24 */

li:nth-child(5) {
    transform: rotate(144deg) skewY(-60deg);
}

li:nth-child(6) {
    transform: rotate(174deg) skewY(-60deg);
}


/* FOURTH + 36 */

li:nth-child(7) {
    transform: rotate(216deg) skewY(-60deg);
}

li:nth-child(8) {
    transform: rotate(246deg) skewY(-60deg);
}

li:nth-child(9) {
    transform: rotate(288deg) skewY(-60deg);
}

li:nth-child(10) {
    transform: rotate(318deg) skewY(-60deg);
}

li:first-child .text,
li:nth-child(2) .text {
    color: green;
}

li:nth-child(3) .text,
li:nth-child(4) .text {
    color: rgb(2, 18, 255);
}

li:nth-child(5) .text,
li:nth-child(6) .text {
    color: rgb(4, 255, 4);
}

li:nth-child(7) .text,
li:nth-child(8) .text {
    color: rgb(27, 123, 114);
}

li:nth-child(9) .text,
li:nth-child(10) .text {
    background: pink;
}

li:nth-child(11) .text,
li:nth-child(12) .text {
    background: gold;
}

.li-none .text {
    background: aliceblue;
}

.li-none {
    background-color: white;
}

.left {
    position: relative;
    top: -5px;
    left: -153px;
}

.right {
    position: relative;
    /* position: absolute; */
    top: 37px;
    left: -153px;
}

.text {
    font-size: 25px;
}


/* RoTATE */

.mainbox {
    position: relative;
    width: 500px;
    height: 500px;
}

.mainbox:after {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease 2s;
}

.spin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}

/* .mainbox.animate:after {
    animation: animateArrow 0.7s ease infinite;
} */
.inner,.outer{
    position: relative;
    right: 102px;
}

/* @keyframes animateArrow {
      height:-40px;
    } */

.dropbtn {
    background: #d00c0c;
    color: white;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.dropbtn:after {
    content: "v";
    padding-left: 10px;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background: #f1f1f1;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background: #c0392b;
}

.row {
    margin: auto;
    /* center horizontally */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    max-width: 2rem;
    text-align: center;
}


/* remove the up/down spinner in number input
     source - https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
  */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* INPUT */

* {
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}

.custome-select {
    background-color: #ddd;
    position: relative;
    width: 300px;
    height: 70px;
    z-index: 3;
}

.custome-select select {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 22px;
    z-index: 2;
    padding: 0 10px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custome-select select:hover {
    cursor: pointer;
}

.custome-select:after {
    content: "▼";
    font-size: 25px;
    width: 50px;
    height: 30px;
    position: absolute;
    background-color: #ff8080;
    z-index: 1;
    right: 20px;
    top: 20px;
    text-align: center;
}
.credit{
    position: relative;
    top: 70px;
    text-align: center;
    color: rgb(114, 114, 114);
}
@media(max-width: 600px) {
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    background-color: rgba(0, 0, 0);

}

.container {
    background-color: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0);

}
.flex-container{
    position: relative;
    left: 10px;
}
.image-wrapper img {
    width: 250px;
    height: 250px;
}

.image-wrapper img {
    object-fit: contain;
}

.heading {
    margin: 40px;
  font-size: 20px;
  text-shadow: 0px 0px 50px rgb(198, 255, 9);
background: linear-gradient(black, yellow);
background-clip: text;
-webkit-background-clip: text; /* For older WebKit browsers */
color: transparent;

}

.input-container {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.button {
    padding: 10px;
    color: #fff;
    background-color: #e67700;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
.submitbutton{
    position: relative;
    right: 40px;
}
.button:hover{
    color: #000000;
}

.input {
    border: none;
    border-bottom: 2px solid #f08c00;
    padding: 10px;
    width: 50px;
    margin: 20px;
    color: #f5f000;

}

.flex-container {
    display: flex;
}

.input:focus {
    outline: none;
}
.Spinner{
    position: relative;
    left: 0px;
    top: 10px;
}

.circle-outer {
    position: relative;
    border-width: 10px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0;
    margin: 1em auto;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    background-color: black;
}

.circle-inner {
    position: absolute;
    top: -9px;
    left: 6px;
    border: 1px solid rgb(0, 0, 0);
    padding: 0;
    margin: 1em auto;
    width: 19em;
    height: 19em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    /* background-color: black; */
}

li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

.text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
}


/* FIRSR +12 */

li:first-child {
    transform: rotate(0deg) skewY(-60deg);
}

li:nth-child(2) {
    transform: rotate(30deg) skewY(-60deg);
}


/* SECOND +12 */

li:nth-child(3) {
    transform: rotate(72deg) skewY(-60deg);
}

li:nth-child(4) {
    transform: rotate(102deg) skewY(-60deg);
}


/* THIRD +24 */

li:nth-child(5) {
    transform: rotate(144deg) skewY(-60deg);
}

li:nth-child(6) {
    transform: rotate(174deg) skewY(-60deg);
}


/* FOURTH + 36 */

li:nth-child(7) {
    transform: rotate(216deg) skewY(-60deg);
}

li:nth-child(8) {
    transform: rotate(246deg) skewY(-60deg);
}

li:nth-child(9) {
    transform: rotate(288deg) skewY(-60deg);
}

li:nth-child(10) {
    transform: rotate(318deg) skewY(-60deg);
}

li:first-child .text,
li:nth-child(2) .text {
    color: green;
}

li:nth-child(3) .text,
li:nth-child(4) .text {
    color: rgb(2, 18, 255);
}

li:nth-child(5) .text,
li:nth-child(6) .text {
    color: rgb(4, 255, 4);
}

li:nth-child(7) .text,
li:nth-child(8) .text {
    color: rgb(27, 123, 114);
}

li:nth-child(9) .text,
li:nth-child(10) .text {
    background: pink;
}

li:nth-child(11) .text,
li:nth-child(12) .text {
    background: gold;
}

.li-none .text {
    background: aliceblue;
}

.li-none {
    background-color: white;
}

.left {
    position: relative;
    top: 10px;
    left: -153px;
}

.right {
    position: absolute;
    top: 17px;
    left: -163px;
}

.text {
    font-size: 25px;
}


/* RoTATE */

.mainbox {
    position: relative;
    width: 500px;
    height: 500px;
}

.mainbox:after {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    transition: all ease 2s;
}

.spin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}

/* .mainbox.animate:after {
    animation: animateArrow 0.7s ease infinite;
} */
.inner,.outer{
    position: relative;
    left: 180px;
    display: inline;
}
.left1{
    left: 20px;
}
.buttons{
    position: relative;
    left: 100px;
}
/* @keyframes animateArrow {
      height:-40px;
    } */

.dropbtn {
    background: #d00c0c;
    color: white;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.dropbtn:after {
    content: "v";
    padding-left: 10px;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background: #f1f1f1;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background: #c0392b;
}

.row {
    margin: auto;
    /* center horizontally */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    max-width: 2rem;
    text-align: center;
}


/* remove the up/down spinner in number input
     source - https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
  */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* INPUT */

* {
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
}

.custome-select {
    background-color: #ddd;
    position: relative;
    width: 300px;
    height: 70px;
    z-index: 3;
}

.custome-select select {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 22px;
    z-index: 2;
    padding: 0 10px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custome-select select:hover {
    cursor: pointer;
}

.custome-select:after {
    content: "▼";
    font-size: 25px;
    width: 50px;
    height: 30px;
    position: absolute;
    background-color: #ff8080;
    z-index: 1;
    right: 20px;
    top: 20px;
    text-align: center;
}
.credit{
    position: relative;
    top: 70px;
    text-align: center;
    color: rgb(114, 114, 114);
}
  }